/.github/
/.vscode/
/node_modules/
/build/
/src/
/tests/
/test/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/
yarn.lock
tsconfig.json
README.md
CHANGELOG.md
.eslintrc.json
.editorconfig
